@model CsharpKioskDemoDotnet.Shared.BitPayProperties.BitPayProperties
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@Model.Design.Hero.Title</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="all">
  <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>

<body>
  <header class="bg-white shadow-sm lg:static lg:overflow-y-visible">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative flex justify-between xl:grid xl:grid-cols-12 lg:gap-8">
        <div class="flex md:absolute md:left-0 md:inset-y-0 lg:static xl:col-span-2">
          <div class="flex-shrink-0 flex items-center p-5">
            <a href="#">
              <img src="@Model.Design.Logo" height="34" width="284" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="m-auto mt-6 max-w-3xl">
    <h1 class="fs-headline1 mb4">Page not found</h1>
  </div>
</body>

</html>